.container {
  width: 50rem;
  height: 50rem;
  border-radius: 15px;
  border: double 4px #ff4400;
  margin: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.shift {
  width: 100%;
  height: 40%;  
  display: flex;
  border-radius: 15px 15px 0 0;
}

.shift > .container-user,
.shift > .container-cpu {
  width: 50%;
  height: 100%;
  background-color: #043d7e;  
}

.shift > .container-user {
  border-top-left-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.shift > .container-cpu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.container-cpu > p {
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem;
}

.container-user > .buttons {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
}

.buttons > button {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: #4c4343;
  color: #fff;
}

.container-user > h2,
.container-cpu > h2 {
  margin-top: 1rem;
  color: yellow;
  font-size: 2.5rem;
}
.shift > .container-cpu {
  border-top-right-radius: 10px;
}

.container-result {
  width: 100%;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-result > p {
  width: 50%;
  margin: 1rem;
  text-align: center;
  font-size: 3rem;
  color: #fff;
}
